body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h2, h3 {
  margin: 20px;
}

.login-container, .error-container, .splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input {
  padding: 10px;
  margin: 10px 0;
  width: 200px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  color: #fff;
}
